<!DOCTYPE html>
<html>
<head>
	<title>Tester Canvas</title>
	<style type="text/css">
		body, html {
			padding: 0;
			margin: 0;
		}
	</style>
</head>
<body>
<canvas id="testCanvas"></canvas>
</body>
</html>