<!DOCTYPE html>
<html>
<head>
	<title>Tester Canvas</title>
	<style type="text/css">
		body, html {
			padding: 0;
			margin: 0;
		}
	</style>
</head>
<body>
<canvas id="testCanvas"></canvas>

<script type="text/javascript" src="/scripts/bson.js"></script>
<script type="text/javascript" src="/scripts/three.min.js"></script>
<script type="text/javascript" src="/scripts/loaders.js"></script>
<script type="text/javascript" src="/scripts/index.js"></script>
</body>
</html>